<p>post-list works!</p>
<div class="card">
  <div class="card-header">
    Produit
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <td>id</td>
      <td>ref</td>
      <td>nom</td>
      <td>Event</td>
    
      </thead>
      <tbody>
      <tr *ngFor="let postmm of postss">
          <td>{{postmm.id}}</td>
          <td>{{postmm.image}}</td>
          <td>{{postmm.description}}</td>
          <td>{{postmm.userId}}</td>
        <td> 
          <button (click)="deletePost(postmm.id)" class = "btn btn-danger m-1" > Delete</button>   
          <button (click)="updatePost(postmm)"  class = "btn btn-success m-1" > Update</button>   
       </td> 
        
        </tr>

        </tbody>
    </table>
  </div>
</div>